.emailLabel {
  width: 100px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.brandName{
  color: rgb(116, 42, 42);
  font-size: 50px;
}

.chocoLogo{
  width: 200px;
}

.Log-in{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}
.bg-modal{
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  align-items: center;
}

body{
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0.507), rgba(255, 255, 0, 0.425)), url(./Images/chocolatePastry2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
